* {
    box-sizing: border-box;
}

body {
    font-size: 150%;
    background-color: lightblue;
}

form {
    display: flex;
    flex-direction: column;

    align-items: center;
}

p {
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

input {
    margin: 1rem 0;
}

button {
    margin: 1rem 0;
}